@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


h1,
h2{
    font-family: styleFont;
}

h3,
h4,
h5,
h6,
label{
    font-family: openSansBold;
}

p,
a,
div{
    font-family: openSans200;
    color: #575454;
}
span{
    color: var(--white);
    font-family: var(--poppins);
    font-size: 21px;
}
ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
span{
    display: inline-block;
}
a{
    text-decoration: none;
    display: inline-block;
}

:root {
    --poppins: "Poppins", sans-serif;
    --raleway: "Raleway", sans-serif;
    --roboto: "Roboto", sans-serif;
  }

  :root {
    --BgColor: #1fe3fe;
    --Color : #7ae2f0;
    --MainHeader: #823564;
    --TopHeader : #463e23cc;
    --white : #fff;
  }

  .container{
   max-width: 1400px;
  }